<a href="https://colab.research.google.com/github/Tanishq-Btech/Data-Mining-Assignments/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd        #import pandas for creating dataframe for dataset

In [15]:
df=pd.read_csv('/content/employee_data.csv')
df

              Name    ID   Age  Experience    Salary
0       Pari Kumar  1029   NaN         NaN       NaN
1      Pari Sharma  1044   NaN         2.0   92112.0
2     Ishaan Kumar  1037  58.0         NaN       NaN
3       Ira Sharma  1010   NaN         NaN  154655.0
4     Ishaan Kumar  1004   NaN         NaN       NaN
5   Reyansh Sharma  1042   NaN         NaN   59446.0
6      Anika Kumar  1017  49.0         NaN  196032.0
7       Myra Gupta  1049  47.0         NaN   62245.0
8       Sara Gupta  1043  41.0         NaN       NaN
9       Riya Singh  1030   NaN         NaN       NaN
10   Krishna Singh  1028   NaN         NaN   64020.0
11    Aditya Kumar  1043   NaN         9.0   82184.0
12     Pari Sharma  1006  41.0         NaN       NaN
13   Shaurya Singh  1013   NaN         NaN       NaN
14   Reyansh Kumar  1047   NaN         6.0       NaN
15    Vihaan Singh  1032  60.0         NaN       NaN
16   Ishaan Sharma  1007  43.0         NaN  102502.0
17    Aadhya Kumar  1004   NaN         NaN  121250.0
18           Navya  1029  62.0         NaN  147445.0
19     Navya Singh  1019  38.0         NaN       NaN
20           Navya  1020  38.0         NaN   18301.0
21      Ira Sharma  1026  31.0         NaN   23120.0
22            Myra  1029   NaN         NaN       NaN
23           Anika  1022  42.0         NaN       NaN
24      Sara Kumar  1005  64.0         NaN   80999.0
25           Anika  1000  36.0         NaN   64657.0
26            Riya  1022   NaN         NaN  104874.0
27   Vihaan Sharma  1008   NaN         NaN  150324.0
28    Aditya Singh  1022   NaN         1.0       NaN
29      Riya Gupta  1001  39.0         NaN  188789.0
30      Myra Gupta  1049  47.0         NaN   62245.0
31    Anika Sharma  1050   NaN         NaN       NaN
32     Sara Sharma  1028  37.0         NaN  101399.0
33     Anika Kumar  1022   NaN         NaN  135357.0
34    Aditya Gupta  1002   NaN         NaN       NaN
35      Riya Singh  1002  56.0         NaN  100228.0
36      Diya Kumar  1041  26.0         1.0       NaN
37      Myra Gupta  1007   NaN        16.0  112901.0
38   Reyansh Kumar  1016   NaN         NaN   29838.0
39       Sai Singh  1000   NaN         2.0       NaN
40      Myra Gupta  1047   NaN         NaN   99777.0
41          Ananya  1010  44.0         NaN  143888.0
42           Aarav  1049   NaN         NaN       NaN
43   Krishna Kumar  1030   NaN         NaN       NaN
44      Sai Sharma  1008  19.0         NaN  106900.0
45   Reyansh Kumar  1016   NaN         NaN   29838.0
46   Ananya Sharma  1017  48.0        30.0  118176.0
47     Sara Sharma  1050  32.0         NaN       NaN
48    Aditya Kumar  1016   NaN        27.0       NaN
49     Arjun Kumar  1014   NaN        13.0       NaN
50   Ishaan Sharma  1015  54.0        21.0       NaN
51       Sai Singh  1000   NaN         2.0       NaN
52     Arjun Kumar  1036   NaN         NaN       NaN

In [16]:
df.isnull().sum()        #counting missing values

Name           0
ID             0
Age           29
Experience    41
Salary        25
dtype: int64

In [17]:
df['Age']=df['Age'].fillna(df['Age'].mean())                        #handling missing values using statistical methods
df['Experience']=df['Experience'].fillna(df['Experience'].mean())
df['Salary']=df['Salary'].fillna(df['Salary'].mean())

In [18]:
df.isnull().sum()        #missing values filled

Name          0
ID            0
Age           0
Experience    0
Salary        0
dtype: int64

In [19]:
df.duplicated().sum()

np.int64(3)

In [20]:
df.drop_duplicates(inplace=True)

In [21]:
df.duplicated().sum()

np.int64(0)

In [23]:
df

              Name    ID        Age  Experience         Salary
0       Pari Kumar  1029  43.833333   10.833333   98339.357143
1      Pari Sharma  1044  43.833333    2.000000   92112.000000
2     Ishaan Kumar  1037  58.000000   10.833333   98339.357143
3       Ira Sharma  1010  43.833333   10.833333  154655.000000
4     Ishaan Kumar  1004  43.833333   10.833333   98339.357143
5   Reyansh Sharma  1042  43.833333   10.833333   59446.000000
6      Anika Kumar  1017  49.000000   10.833333  196032.000000
7       Myra Gupta  1049  47.000000   10.833333   62245.000000
8       Sara Gupta  1043  41.000000   10.833333   98339.357143
9       Riya Singh  1030  43.833333   10.833333   98339.357143
10   Krishna Singh  1028  43.833333   10.833333   64020.000000
11    Aditya Kumar  1043  43.833333    9.000000   82184.000000
12     Pari Sharma  1006  41.000000   10.833333   98339.357143
13   Shaurya Singh  1013  43.833333   10.833333   98339.357143
14   Reyansh Kumar  1047  43.833333    6.000000   98339.357143
15    Vihaan Singh  1032  60.000000   10.833333   98339.357143
16   Ishaan Sharma  1007  43.000000   10.833333  102502.000000
17    Aadhya Kumar  1004  43.833333   10.833333  121250.000000
18           Navya  1029  62.000000   10.833333  147445.000000
19     Navya Singh  1019  38.000000   10.833333   98339.357143
20           Navya  1020  38.000000   10.833333   18301.000000
21      Ira Sharma  1026  31.000000   10.833333   23120.000000
22            Myra  1029  43.833333   10.833333   98339.357143
23           Anika  1022  42.000000   10.833333   98339.357143
24      Sara Kumar  1005  64.000000   10.833333   80999.000000
25           Anika  1000  36.000000   10.833333   64657.000000
26            Riya  1022  43.833333   10.833333  104874.000000
27   Vihaan Sharma  1008  43.833333   10.833333  150324.000000
28    Aditya Singh  1022  43.833333    1.000000   98339.357143
29      Riya Gupta  1001  39.000000   10.833333  188789.000000
31    Anika Sharma  1050  43.833333   10.833333   98339.357143
32     Sara Sharma  1028  37.000000   10.833333  101399.000000
33     Anika Kumar  1022  43.833333   10.833333  135357.000000
34    Aditya Gupta  1002  43.833333   10.833333   98339.357143
35      Riya Singh  1002  56.000000   10.833333  100228.000000
36      Diya Kumar  1041  26.000000    1.000000   98339.357143
37      Myra Gupta  1007  43.833333   16.000000  112901.000000
38   Reyansh Kumar  1016  43.833333   10.833333   29838.000000
39       Sai Singh  1000  43.833333    2.000000   98339.357143
40      Myra Gupta  1047  43.833333   10.833333   99777.000000
41          Ananya  1010  44.000000   10.833333  143888.000000
42           Aarav  1049  43.833333   10.833333   98339.357143
43   Krishna Kumar  1030  43.833333   10.833333   98339.357143
44      Sai Sharma  1008  19.000000   10.833333  106900.000000
46   Ananya Sharma  1017  48.000000   30.000000  118176.000000
47     Sara Sharma  1050  32.000000   10.833333   98339.357143
48    Aditya Kumar  1016  43.833333   27.000000   98339.357143
49     Arjun Kumar  1014  43.833333   13.000000   98339.357143
50   Ishaan Sharma  1015  54.000000   21.000000   98339.357143
52     Arjun Kumar  1036  43.833333   10.833333   98339.357143

In [25]:
from sklearn.preprocessing import MinMaxScaler
le=MinMaxScaler()
df['Age']=le.fit_transform(df[['Age']])
df['Experience']=le.fit_transform(df[['Experience']])
df['Salary']=le.fit_transform(df[['Salary']])

In [26]:
df

              Name    ID       Age  Experience    Salary
0       Pari Kumar  1029  0.551852    0.339080  0.450334
1      Pari Sharma  1044  0.551852    0.034483  0.415296
2     Ishaan Kumar  1037  0.866667    0.339080  0.450334
3       Ira Sharma  1010  0.551852    0.339080  0.767193
4     Ishaan Kumar  1004  0.551852    0.339080  0.450334
5   Reyansh Sharma  1042  0.551852    0.339080  0.231502
6      Anika Kumar  1017  0.666667    0.339080  1.000000
7       Myra Gupta  1049  0.622222    0.339080  0.247250
8       Sara Gupta  1043  0.488889    0.339080  0.450334
9       Riya Singh  1030  0.551852    0.339080  0.450334
10   Krishna Singh  1028  0.551852    0.339080  0.257237
11    Aditya Kumar  1043  0.551852    0.275862  0.359436
12     Pari Sharma  1006  0.488889    0.339080  0.450334
13   Shaurya Singh  1013  0.551852    0.339080  0.450334
14   Reyansh Kumar  1047  0.551852    0.172414  0.450334
15    Vihaan Singh  1032  0.911111    0.339080  0.450334
16   Ishaan Sharma  1007  0.533333    0.339080  0.473755
17    Aadhya Kumar  1004  0.551852    0.339080  0.579241
18           Navya  1029  0.955556    0.339080  0.726626
19     Navya Singh  1019  0.422222    0.339080  0.450334
20           Navya  1020  0.422222    0.339080  0.000000
21      Ira Sharma  1026  0.266667    0.339080  0.027114
22            Myra  1029  0.551852    0.339080  0.450334
23           Anika  1022  0.511111    0.339080  0.450334
24      Sara Kumar  1005  1.000000    0.339080  0.352769
25           Anika  1000  0.377778    0.339080  0.260821
26            Riya  1022  0.551852    0.339080  0.487101
27   Vihaan Sharma  1008  0.551852    0.339080  0.742825
28    Aditya Singh  1022  0.551852    0.000000  0.450334
29      Riya Gupta  1001  0.444444    0.339080  0.959247
31    Anika Sharma  1050  0.551852    0.339080  0.450334
32     Sara Sharma  1028  0.400000    0.339080  0.467549
33     Anika Kumar  1022  0.551852    0.339080  0.658613
34    Aditya Gupta  1002  0.551852    0.339080  0.450334
35      Riya Singh  1002  0.822222    0.339080  0.460961
36      Diya Kumar  1041  0.155556    0.000000  0.450334
37      Myra Gupta  1007  0.551852    0.517241  0.532265
38   Reyansh Kumar  1016  0.551852    0.339080  0.064913
39       Sai Singh  1000  0.551852    0.034483  0.450334
40      Myra Gupta  1047  0.551852    0.339080  0.458423
41          Ananya  1010  0.555556    0.339080  0.706613
42           Aarav  1049  0.551852    0.339080  0.450334
43   Krishna Kumar  1030  0.551852    0.339080  0.450334
44      Sai Sharma  1008  0.000000    0.339080  0.498501
46   Ananya Sharma  1017  0.644444    1.000000  0.561945
47     Sara Sharma  1050  0.288889    0.339080  0.450334
48    Aditya Kumar  1016  0.551852    0.896552  0.450334
49     Arjun Kumar  1014  0.551852    0.413793  0.450334
50   Ishaan Sharma  1015  0.777778    0.689655  0.450334
52     Arjun Kumar  1036  0.551852    0.339080  0.450334

In [35]:
mean_age=df['Age'].mean()
mode_age=df['Age'].mode().iloc[0]
median_age=df['Age'].median()
print(mean_age)

0.5504444444444445

In [36]:
print(mode_age)

0.551851851851852

In [37]:
print(median_age)

0.551851851851852